*{
    background-color: rgb(1, 1, 32);
}
.uio{
    
    text-align: center;
    color: yellow;
    font-size: 3rem;
}
.main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.image-container{
    width: 600px;
    display: grid;
    /* gap: 30px; */
    grid-template-columns: 1fr 1fr;
}
.img{
    border-radius: 15%;
    overflow: hidden;
    width: 150px;
    height: 150px;

}
.a{
    background-color: red;
}
.b{
    background-color: green;
}
.c{
    background-color: yellow;
}
.d{
    background-color: blue;
}