*{
    background-color: rgb(1, 1, 32);

}
.uio{
    
    text-align: center;
    color: yellow;
    font-size: 3rem;
    text-shadow: 5px 5px 7px rgba(194, 11, 127, 0.852);
    font-family: cursive;
}
.main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.image-container{
    width: 350px;
    display: grid;
    /* gap: 30px; */
    grid-template-columns: 1fr 1fr;
}
.img{
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 15%;
    overflow: hidden;
    width: 150px;
    
}
.imm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 150px;
    
}
.a{
    background-color: rgba(255, 0, 0, 0.87);
    box-shadow: 2px 2px 2px 4px rgba(255, 0, 0, 0.535);
}
.b{
    background-color: rgba(0, 255, 0, 0.839);
    box-shadow: 2px 5px 2px  4px  rgba(0, 210, 56, 0.518);
}
.c{
    background-color: rgba(255, 255, 0, 0.842);
    box-shadow: 2px 2px 2px 4px rgba(198, 201, 0, 0.535);
}
.d{
    background-color: rgba(0, 0, 255, 0.804);
    box-shadow: 2px 2px 2px 4px rgba(17, 0, 255, 0.535);
}